@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand&display=swap');

.dashboardContainer {
    height: 100vh;
    width: 100%;

}

.topBarCont {
    height: 8vh;
    width: 100%;
    background-color: darkslategray;
    color: orangered;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.bottomBarCont {
    display: flex;
    flex-direction: row;
    height: 92vh;
    width: 100%;
}

.sideBarCont {
    height: 100%;
    width: 12%;
    background-color: burlywood;
    transition: width 0.5s ease;
}

.sideBarContHide {
    width: 3%;
    border-right: 1px solid rgb(105, 101, 97);

}

.commonStyleItem {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10%;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.5s ease, font-size 0.5s ease;

}

.commonStyleItemHide {
    border-bottom: 1px solid rgb(105, 101, 97);
    animation: justifyContentAnimation 0.5s ease 0.5s forwards;
}

@keyframes justifyContentAnimation {
    from {
        justify-content: flex-start;
    }

    to {
        justify-content: center;
    }
}

.arrow-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Add transition for transform property */
}

.rotate {
    transform: rotate(180deg);
}

.commonStyleItemFont {
    font-size: 1.2rem;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.5s ease, font-size 0.5s ease;
}

.commonStyleItemFontHide {
    font-size: 0.1rem;
    opacity: 0;
    overflow: hidden;

    transition: opacity 0.5s ease, font-size 0.5s ease;
}

.commonStyleItem:first-child {
    cursor: default;
}

.selectedItemStyle {
    background-color: rgb(235, 163, 68);
    color: black;
}

.toggleLeftIcon {
    transform: rotate(180deg);
}