@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand&display=swap');

.dashboardContainer {
    height: 100vh;
    width: 100%;

}

.topBarCont {
    height: 8vh;
    width: 100%;
    background-color: darkslategray;
    color: orangered;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.bottomBarCont {
    display: flex;
    flex-direction: row;
    height: 92vh;
    width: 100%;
}

.sideBarCont {
    height: 100%;
    width: 12%;
    background-color: burlywood;
    transition: width 0.3s ease;
}

.sideBarContHide {
    width: 3%;

}

.commonStyleItem {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10%;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.commonStyleItem:first-child {
    cursor: default;
}

.selectedItemStyle {
    background-color: rgb(235, 163, 68);
    color: black;
}

.toggleLeftIcon {
    transform: rotate(180deg);
}